/* Styles for Login, Cart, Find a Restaurant, and Careers */

/* Color Scheme 
#984447 - Red
#ADD9F4 - Light Blue
#476C9B - Darker Blue
#468C98 - Teal
#101419 - Black
*/
.main-cart-container {
  min-height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: auto;
  height: auto;
}

.cart-item-inner-container {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.cart-item {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border: solid 1px #101419;
  padding: 0px 10px;
}

.x-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.x {
  border: none;
  cursor: pointer;
  color: #984447;
  background-color: whitesmoke;
}
.x:hover {
  transform: scale(1.5);
}

.sub-tax {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.total {
  font-size: 24px;
  margin: 50px;
}
.final-sub-total {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.cost-info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#checkout-btn {
  width: 60%;
  height: 50px;
  background-color: #476c9b;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
#checkout-btn:hover {
  background-color: #add9f4;
  color: #101419;
}

@media (max-width: 600px) {
  .cost-info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .final-sub-total {
    margin: 10px;
  }
}
