/* Styles for Menu, Story, and Shop */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

/* Color Scheme 
#984447 - Red
#ADD9F4 - Light Blue
#476C9B - Darker Blue
#468C98 - Teal
#101419 - Black
*/

.dummy {
  width: 100%;
  height: 100px;
}

/* Our Story Styles */

.about-main {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-size: 20px;
}

.about-main h3 {
  margin-top: 100px;
  font-family: "Rye", cursive;
  font-weight: 400;
  color: #101419;
}

.about-text {
  width: 60%;
  overflow-x: hidden;
}

.reviews-container {
  width: 100%;
  overflow: scroll;
}

.reviews {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  gap: 20px;
  margin-bottom: 100px;
}
.red {
  color: #984447;
}
.review-card {
  height: 100%;
  margin: 5px;
}
.test {
  width: 250px;
  height: 320px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  color: #984447;
  border: solid 1px #101419;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h4 {
  font-weight: 300;
}

/* Menu Styles*/
.cat-container {
  display: flex;
  flex-direction: column;
}

.menu-container {
  background-color: whitesmoke;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px;
  border: solid 1px #101419;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #101419;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-text {
  align-items: center;
  margin: 10px;
}

.menu-item img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 30px;
}

.order-btn {
  border: none;
  background-color: #476c9b;
  color: #add9f4;
  cursor: pointer;
  height: 40px;
  width: 50%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.order-btn:hover {
  border: none;
  background-color: #add9f4;
  color: #101419;
}
